@model IEnumerable<E_Commerce_Web_Application.DTOs.ProductDTO>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>showAllProductsDetails</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.availableQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lowestQuantityToStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brandId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sellerId)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.availableQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lowestQuantityToStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brandId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sellerId)
            </td>
            <td>
                @Html.ActionLink("Edit", "updateOneProductDetails", new { id = item.id }) |
                @Html.ActionLink("Details", "showOneProductDetails", new { id = item.id }) |
                @Html.ActionLink("Delete", "deleteProduct", new { id = item.id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
